venv
.DS_Store
.env
__pycache__/

*.terraform*
*.tfstate
*.tfstate.*
*.tfvars

# dbt
logs/
transform/target/
transform/dbt_packages/
transform/logs/
transform/dbt_internal_packages/



dags/extract/snowflake_tf_snow_key.p8
profiles.yml